* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        body {
            background: #f5f7fb;
            color: #1e293b;
        }

        /* SIDEBAR */

        .sidebar {
            position: fixed;
            left: 0;
            top: 0;

            width: 240px;
            height: 100vh;

            background: #111827;
            color: white;

            padding: 25px 15px;
        }

        .logo {
            display: flex;
            align-items: center;
            gap: 10px;

            padding: 10px;
            margin-bottom: 35px;

            font-size: 19px;
            font-weight: bold;
        }

        .logo img {
            width: 35px;
            height: 35px;
            object-fit: contain;
        }

        .menu {
            display: flex;
            flex-direction: column;
            gap: 7px;
        }

        .menu-item {
            display: flex;
            align-items: center;
            gap: 14px;

            padding: 13px 15px;

            color: #cbd5e1;
            text-decoration: none;

            border-radius: 8px;

            transition: 0.2s;
        }

        .menu-item:hover,
        .menu-item.active {
            background: #2563eb;
            color: white;
        }

        .menu-item i {
            width: 20px;
        }
